# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.egg-info/
.venv/
.venv*/
venv/

# IDE
.vscode/
.idea/
*.code-workspace

# Logs
*.log

# Build / dist
build/
dist/

# Local exports
*.tmp
*.bak
*.swp

# Runtime data
/data/*.db
